:root{
	--primary-dark-color: #223843;
	--secondary-dark-color: #511C29;
	--tertiary-dark-color: #56494E;
	--scroll-bar-color: #A29C9B;
	--primary-light-color: #DB324D;
	--secondary-bright-color: #D77A61;
}

/* Scroll Bar Style */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 10px;
    border: 3px solid var(--scroll-bar-color);
}

/* Navigation Style */

html, body {
	font-family: 'Inter', sans-serif;
}

body{
	margin: 0;
	display:flex;
}

/*Login and Register styling*/

.body--login{
            background: url("login-background.jpg");
            background-size: cover;
        }

        .login__container{
            max-width: 1100px;
            max-height: 700px;

            display: flex;
            justify-content: space-between;

            margin: 100px auto;
        }

        .login__image--container{
            max-width: 600px;
            max-height: 800px;
            /* border: 1px solid red; */
            box-sizing: border-box;

            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
        }

        .login__form--container{
            max-width: 500px;
            max-height: 800px;
            padding: 50px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;
            background: #223843;
            text-align: center;
            color: white;
        }

        .login__image{
            max-width: 600px;
            max-height: 800px;
        }

        .login__form{
            display: flex;
            flex-direction: column;
            margin: 50px 50px 20px 50px;
        }

        .login__form--field{
            width: 250px;
            padding: 10px;
            margin-bottom: 50px;
            border: none;
            border-bottom: 2px solid white;
            outline: none;
            caret-color: white;
            background: none;
            font-size: 1em;
            text-indent: 25px;
            transition: all 0.3s;
        }

        .login__form--field:focus{
            border-color: #DB324D;
            box-shadow: 0 2px 2px -2px #DB324D;
            transition: all 0.3s;
        }

        .login__form--field::placeholder{
            color: white;
            transition: all 0.3s;
        }

        .login__form--field:focus::placeholder{
            color:#DB324D;
            transition: all 0.3s;
        }


        .login__form--field:focus + .login__form--field-icon {
            color: #DB324D;
        }

        .login__form--button{
            max-width: 150px;
            margin: 20px auto;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            font-size: 1.2em;
            color: white;
            background: linear-gradient(90deg, rgba(219,50,77,1) 6%, rgba(215,122,97,1) 100%);
            transition: all 0.3s;
        }

        .login__form--button:hover{
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.3s;
        }


        .login__hyperlink{
            color: #DB324D;
            text-decoration: underline #DB324D;
        }

        .login__hyperlink:hover{
            color: #db324ebc;
            text-decoration: underline #DB324D;
        }

        .login__form--icon-container{
            position: relative;
        }

        .login__form--field-icon{
            position: absolute;
            left: 0;
            padding: 10px;
        }

/*End of Login and Register styling

/*Navigation Bar styling*/

.navigation {
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 999;
	width: 45px;
	height: 100vh;
	background-color: var(--primary-dark-color);
	display: flex;
	justify-content:space-between;
	flex-direction: column;
	align-items: center;
}

.navigation__logo {
	width: 40px;
}

.navigation__list {
	max-width: 45px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation__item {
	position: relative;
	max-width: 45px;
	margin-bottom: 1rem;
	text-align: center;
}

.navigation__search-filter-container{
	position: absolute;
	top: 0;
	left: 100%;
	max-width: 400px;
}

.navigation__search-bar {
	position: relative;
	top: 0;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.4rem;
	background-color: var(--primary-dark-color);
	animation: extend-search 0.3s forwards;
	overflow: hidden;
}

.navigation__search-bar.hidden {
	display: none;
}

.navigation__search-bar input[type="text"] {
	width: 300px;
	padding: 0.4rem;
	border-radius: 6px;
	font-size: 1rem;
	font-weight: 300;
	color:#fff;
	outline: none;
	transition: all 0.3s ease-in-out;
	animation: extend-search-field 0.3s forwards;
}

.navigation__search-container {
	position: relative;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.navigation__search-container button {
	position: absolute;
	color: var(--primary-light-color) !important;
	right: 0;
	margin-right: 0.2em;
}

.navigation__search-bar button {
	padding: 0.5rem;
	border: 0px;
	color: #fff;
	outline: none;
	background: none;
	transition: all 0.3s ease-in-out;
}

.navigation__filters{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	padding: 10px 20px;
	border-bottom-right-radius: 6px;
	background-color: var(--primary-dark-color);
	color: #fff;
	overflow: hidden;
	align-items: center;
	animation: extend-filters 0.3s forwards;
}

.navigation__filters.hidden{
	display: none;
}

.navigation__filters-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown__button{
	min-width: 150px;
	max-width: 200px;
	background-color: none;
	color: var(--primary-light-color);
	padding: 10px 12px;
	margin-bottom: 5px;
	font-size: 1em;
	border-radius: 6px;
	border: 1px var(--primary-light-color) solid;
	cursor: pointer;
}

.dropdown__button:hover{
	opacity: 0.9;
	transition: all 0.3s;
}

.dropdown__content {
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 120px;
	background-color: var(--primary-light-color);
	color: #fff;
	box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.2);
	padding: 10px 14px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow-y: scroll;
	max-height: 200px;
  }

  .dropdown__content label {
	display: block;
	font-size: 1.1em;
	margin-bottom: 5px;
  }
  
  .dropdown__content input[type="checkbox"] {
	margin-right: 5px;
  }
  
  .dropdown.show .dropdown__content {
	display: block;
	animation: dropdown 0.3s forwards;
  }


.navigation__tooltip {
	position: absolute;	
	top: 0;
	left: 100%;
	visibility: hidden;
	background-color: var(--primary-dark-color);
	color: var(--primary-light-color);
	padding: 0.8rem;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	white-space: nowrap;
	align-items: center;
	overflow: hidden;
}

.navigation__tooltip-text {
	display: inline-block;
	letter-spacing: 0.1em;
}

.navigation__link {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0.8rem;
}

.navigation__icon {
	font-size: 1.2rem;
}

.navigation__icon:hover {
	color:#DB324D;
	cursor: pointer;
}


.navigation__link:hover .navigation__icon {
	color: var(--primary-light-color);
}


.navigation__item:hover .navigation__tooltip {
	visibility: visible;
	animation: extend-tooltip 0.3s forwards;
}

/* Mobile Version */


/*End of navigation bar styling*/


/* Navigation Animations */

@keyframes extend-filters{
	from {max-height: 0}
	to {max-height: 400px}
}

@keyframes dropdown {
	from {max-height: 0;}
	to {max-height: 200px;}
}

@keyframes extend-tooltip {
	from {max-width: 0;}
	to {max-width: 100px;}
}
@keyframes extend-search {
	from {min-width: 0;}
	to {max-width: 400px;}
}
@keyframes extend-search-field {
	from {max-width: 0;}
	to {max-width: 300px;}
}

/*End of Navigation Animations */
